.root {

}

.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuButton {
  margin-right: "1rem";
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  color: white;
  text-decoration: none;
}

.list {
  width: "12rem";
}

.link {
  text-decoration: 'none';
  color: 'black';
}

.SignoutButton {
  /* position: absolute;
  right: 2rem; */
  /* position: inline-flex; */
}
/* for some reason module styles won't overwrite default AccountCircle stylings. Must use inline styling */
.AccountCircle {}